.tarjeta
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    height: 35rem;
    margin: 3rem;
    background-color: rgb(83, 79, 79);
    color: rgb(247, 247, 247);
    border-radius: 1rem;
    padding: 1rem;
}

.tex
{
    background-color: rgb(83, 79, 79);
}
ul
{
    background-color: rgb(83, 79, 79);
}

